---
http_interactions:
- request:
    method: post
    uri: https://zabbix30.testenv.org/api_jsonrpc.php
    body:
      encoding: UTF-8
      string: '{"id":43425,"jsonrpc":"2.0","method":"user.login","params":{"user":"Admin","password":"zabbix"},"auth":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":"dd506faee8bdbf49aace5d7d9cb67100","id":43425}'
  recorded_at: Mon, 28 Mar 2016 04:18:08 GMT
recorded_with: VCR 3.0.1
