---
http_interactions:
- request:
    method: post
    uri: https://zabbix24.testenv.org/api_jsonrpc.php
    body:
      encoding: UTF-8
      string: '{"id":66393,"jsonrpc":"2.0","method":"user.login","params":{"user":"Admin","password":"zabbix"},"auth":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":"7cffbb67777b030a59ceabfbdeb62d1c","id":66393}'
  recorded_at: Mon, 28 Mar 2016 04:18:05 GMT
recorded_with: VCR 3.0.1
