---
http_interactions:
- request:
    method: post
    uri: https://zabbix24.testenv.org/api_jsonrpc.php
    body:
      encoding: UTF-8
      string: '{"id":53928,"jsonrpc":"2.0","method":"host.get","params":{"output":["hostid","host"],"selectInterfaces":["interfaceid","ip"]},"auth":"7cffbb67777b030a59ceabfbdeb62d1c"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"hostid":"10084","host":"Zabbix server","interfaces":[{"interfaceid":"1","ip":"127.0.0.1"}]}],"id":53928}'
  recorded_at: Mon, 28 Mar 2016 04:18:07 GMT
recorded_with: VCR 3.0.1
