---
http_interactions:
- request:
    method: post
    uri: https://zabbix30.testenv.org/api_jsonrpc.php
    body:
      encoding: UTF-8
      string: '{"id":92610,"jsonrpc":"2.0","method":"host.get","params":{"output":["hostid","host"],"selectInterfaces":["interfaceid","ip"]},"auth":"dd506faee8bdbf49aace5d7d9cb67100"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"hostid":"10084","host":"Zabbix server","interfaces":[{"interfaceid":"1","ip":"127.0.0.1"}]}],"id":92610}'
  recorded_at: Mon, 28 Mar 2016 04:18:10 GMT
recorded_with: VCR 3.0.1
