---
http_interactions:
- request:
    method: post
    uri: https://zabbix24.testenv.org/api_jsonrpc.php
    body:
      encoding: UTF-8
      string: '{"id":34368,"jsonrpc":"2.0","method":"apiinfo.version","params":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":"2.4.7","id":34368}'
  recorded_at: Mon, 28 Mar 2016 04:18:06 GMT
recorded_with: VCR 3.0.1
